
<div class="col-xl-9 col-lg-8 col-md-7">
    <div class="section-title text-white">
        <h2>Latest News</h2>
    </div>
    <ul class="blog-filter">
        <li><a href="#">Racing</a></li>
        <li><a href="#">Shooters</a></li>
        <li><a href="#">Strategy</a></li>
        <li><a href="#">Online</a></li>
    </ul>
    <!-- Blog item -->
    @foreach (var item in Model.Posts)
    {
        <div class="blog-item">
            <div class="blog-thumb">
                <img style="margin-bottom:30px !important" src="@item.ImageUrl" alt="" />
            </div>
            <div class="blog-text text-box text-white">
                <div class="top-meta">11.11.18  /  in <a asp-controller="Games" asp-action="Index" asp-route-id="@item.Category.Id">Games</a></div>
                <h3>The best online game is out now!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
                <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>






            </div>

        </div>
    }
        <!-- Blog item -->
        <!--<div class="blog-item">
            <div class="blog-thumb">
                <img src="./img/blog/2.jpg" alt="">
            </div>
            <div class="blog-text text-box text-white">
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>The best online game is out now!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
                <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
            </div>
        </div>-->
        <!-- Blog item -->
        <!--<div class="blog-item">
            <div class="blog-thumb">
                <img src="./img/blog/3.jpg" alt="">
            </div>
            <div class="blog-text text-box text-white">
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>The best online game is out now!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
                <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
            </div>
        </div>-->
    </div>